
h3{
  font-size: 14px;
}
h2{
  font-size: 50px;
}

 .heading{
 	color:#696969;
  font-family:Helvetica;
  border-bottom: dotted #e7ce00 thin;
  font-weight: bold;
  text-shadow: 2px 2px 2px #CCC;
  color: #444444;
 }

  .page-body{
    margin-top: 20px;
    margin-left: 25px;
    margin-bottom: 20px;

  }
  

.btn{
  border-radius: 12px;
  border: 2px solid #4caf50;
  margin-top: 5px;
  margin-bottom: 5px;
  padding-left: 25px;
  background-color: #fff;
  

}
 .btn:hover{
  background-color: #98c1c0;
 }
/* Top buffer sets the margin of the page by specified pixel*/
.top-buffer{
  margin-top: 20px;
}

/* modal body sets the body of the modal to specified format*/
.modal-body{
  height: 520px;
  width:500px;
  background-color: #fff;
  padding-left: 5px;
  padding-top: 5px;
  padding-bottom: 5px;
}
.modal-dialog{
  height:520;
  width:500px;
}

/*pulls modal image to the right*/
.modal-body.pull-right {
  padding-left: 1em;
}
/*pulls the body element to the left*/
.modal-body.pull-left {
  padding-right: 1em;
}


/*
.popup-btn{
  border-radius: 5px;
  border: 2px solid #4caf50;
  position: relative;


}*/
/* image style*/
.display-img{
    width:200px;
    height:300px;
    border-color:#00F;
  }

  .popup-img{
    width:200px;
    height:300px;
    border-color:#00F;
    margin-right:10px;
    padding-top: 20px;
    padding-left: 10px;
    padding-bottom: 10px;
  }

  .popup-heading{
    font-weight: bold;
    font-size: 20px;

}

.upcoming{
  font-size: 18px;
  color:red;

 }
 .released{
  font-size: 18px;
  color:Green;

 }
 .link{
  font-style: none;
 }
.row-1{
  width: 100%;
  height:300px;
}

/*Ratings */
.rating {
    float:left;
}

/* :not(:checked) is a filter, so that browsers that don’t support :checked don’t 
   follow these rules. Every browser that supports :checked also supports :not(), so
   it doesn’t make the test unnecessarily selective */
.rating:not(:checked) > input {
    position:absolute;
    top:-9999px;
    clip:rect(0,0,0,0);
}

.rating:not(:checked) > label {
    float:right;
    width:1em;
    padding:0 .1em;
    overflow:hidden;
    white-space:nowrap;
    cursor:pointer;
    font-size:200%;
    line-height:1.2;
    color:#ddd;
    text-shadow:1px 1px #bbb, 2px 2px #666, .1em .1em .2em rgba(0,0,0,.5);
}

.rating:not(:checked) > label:before {
    content: '★ ';
}

.rating > input:checked ~ label {
    color: #f70;
    text-shadow:1px 1px #c60, 2px 2px #940, .1em .1em .2em rgba(0,0,0,.5);
}

.rating:not(:checked) > label:hover,
.rating:not(:checked) > label:hover ~ label {
    color: gold;
    text-shadow:1px 1px goldenrod, 2px 2px #B57340, .1em .1em .2em rgba(0,0,0,.5);
}

.rating > input:checked + label:hover,
.rating > input:checked + label:hover ~ label,
.rating > input:checked ~ label:hover,
.rating > input:checked ~ label:hover ~ label,
.rating > label:hover ~ input:checked ~ label {
    color: #ea0;
    text-shadow:1px 1px goldenrod, 2px 2px #B57340, .1em .1em .2em rgba(0,0,0,.5);
}

.rating > label:active {
    position:relative;
    top:2px;
    left:2px;
}

